.bookTile {
  /* border: 1px solid #888;
  border-radius: 10px; */
  padding-bottom: 15px;
}

.bookTile h5 {
  text-align: left;
}

.image {
  margin-bottom: 10px;
  padding: 0px;
}

.bookTile img {
  height: 200px;
  max-width: 140px;
  width: auto;
  margin: 0 auto;
}

.priceRow {
  text-align: left;
}
